<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Task</title>
</head>
<body>
<div style="margin: auto; margin-top: 20px; padding: 20px; width: 400px;background-color: whitesmoke">
    <h1 style="text-align: center">Edit Task</h1>
    <form style="display: flex; justify-content: center; gap:10px" th:action="@{/edit}" method="post" th:object="${task}">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{description}" placeholder="Task Description"/>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>
